{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2>Содержимое страницы "О нас"</h2>
<p>«Наш автосалон» — официальный дилер автомобилей в Москве. Наша компания более 20 лет на рынке и работает с более
    чем 30 банками и 20 страховыми организациями. Мы предлагаем автомобили со скидками до 40%, а также оформление
    страховки и проведение дооснащения машины аксессуарами или дополнительным оборудованием. Всем клиентам дарим
    комплект новой зимней резины, а при сдаче старого ТС в трейд-ин — вычтем рыночную стоимость авто
    из цены нового.</p>
{% endblock %}