{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for c, m in get_flashed_messages(True) %}
<div class="flash {{ c }}">{{ m }}</div>
{% endfor %}

<form action="{{ url_for('add_post') }}" method="post">
    <p>Наименование автомобиля: <input type="text" name="name" required></p>
    <p>Цена автомобиля: <input type="text" name="cost" required></p>
    <p>Описание автомобиля:</p>
    <p><textarea name="post" cols="40" rows="7"></textarea></p>
    <p><input type="submit" value="Добавить"></p>
</form>

{% endblock %}