body{
    background: rgba(19, 134, 240, 0.997);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(76, 39, 223);
    padding: 20px;
    margin-top: 0;
}
.content{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid #37d037;
    background: #9de5b5;
}
.flash.error{
    border: 1px solid #f33737;
    background: #f989a1;
}
.menu a{
    font-weight: bold;
    color: #391171;
}