<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Правила использования "Генератора паролей"</h1>
        <form>Для использования приложения Вам необходимо в выпадающем списке "Количество символов"
            выбрать интересующее Вас число. Чтобы в сформированном пароле присутствовали заглавные буквы, цифры и
            спецсимволы, необходимо соответствующее поле пометить галочкой. После всех указанных действий нужно нажать
            кнопку "Сгенерировать пароль."
        </form>
        <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
    </div>
</body>
</html>